Task - Pyhton
There are x number of girls and they rolled a dice in turns one after another.

If the number on the dice is , then the dice will be rolled again until she get a number other than .

Since you know the sequence of numbers which the dice shows when rolled each time, you have to find what is the total number of girls or if the sequence is invalid.

Input format
A single line that contains a string denoting the sequence of numbers the dice rolls on written as string.

Output format
If the sequence is valid print the number of girls  
If the sequence is invalid print -1
 
Sample Input
3662123

Sample Output
5

In [2]:
a = '3662123'
s = 6
c=0



for i in range(len(a)):
    
    if int(a[i]) <= s:
        if int(a[i]) != s:
            c+=1
    else:
        print("-1")
print(c)

5

In [3]:
n = 5
k = n - 1
for i in range(0, n):
    for j in range(0, k):
        print(end=" ")
    
    k = k - 1
    for j in range(0, i+1):
        print(i,"", end="")
    print("")

    0
   1 1
  2 2 2
 3 3 3 3
4 4 4 4 4

In [4]:
n=5
k = 2 * n - 2
x = 65
for i in range(0, n):
    ch = chr(x)
    x += 1
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print(ch, end=" ")
    print("\r")

        A
       B B
      C C C
     D D D D
    E E E E E

In [5]:
n = 5
j = 1
v = ['A','E','I','O',"U"]
for col in range(n):
    for space in range(n - col - 1):
        print(' ', end='')
    if col%2==0:
        for row in range(0+1 * col + 1):
             print(j, end=" ")
             j= j+1
    if col%2!=0:
        for row in range(0 + 1 * col + 1):
            for i in v:
                print(i)
                break
#             print("*", end=" ")
    print()

    1
   A
A

  2 3 4
 A
A
A
A

5 6 7 8 9

In [115]:
n = 6
j = 1
li = ["A", "E", "I", "O", "U"]
m = len(li)
count = 0

for col in range(n):
    for space in range(n - col - 1):
        print(' ', end='')
    if col % 2 == 0:
        for row in range(1 * col + 1):
            print(j, end=" ")
            j = j + 2
    else:
        for i in range(len(li) - count):
            for k in range(1 * col + 1):
                print(li[count], end=' ')
                count = count + 1
                if count == 5:
                    count = 0
            break
    print()

     1
    A E
   3 5 7
  I O U A
 9 11 13 15 17
E I O U A E

ValueError: invalid literal for int() with base 10: ' '

In [112]:
s = "(-(2+3)/)[*(5-6])"
open_list = ["[","{","("]
close_list = ["]","}",")"]
stack = []
for i in s:
    if i in open_list:
        stack.append(i)
    elif i in close_list:
        pos = close_list.index(i)
        if((len(stack) > 0) and
            (open_list[pos] == stack[len(stack)-1])):
            stack.pop()
        else:
            print("unbalanced")
if len(stack) == 0:
    print("balanced")
else:
    print("unbalanced")



print(string)

unbalanced
unbalanced
{[){(]}}

In [103]:
str = "{1-(2+4)/}[4*{5-6]}"
c = 0

for i in str:
    if i == '(' or i =='{' or i == '[':
        c+=1
    elif i == ')' or i =='}' or i ==']':
        c-=1
    if c < 0:
        print("invaild")
if c == 0:
    print("valid")

valid

In [87]:
x,y =12,15
r=y if x&1==0 else x
print(r)

15

In [96]:
# Python3 code to Check for
# balanced parentheses in an expression
def check(expression):
	
	open_tup = list['({[']
	close_tup = list[')}]']
	map = dict(zip(open_tup, close_tup))
	queue = []

	for i in expression:
		if i in open_tup:
			queue.append(map[i])
		elif i in close_tup:
			if not queue or i != queue.pop():
				return "Unbalanced"
	if not queue:
		return "Balanced"
	else:
		return "Unbalanced"

# Driver code
string = "{[){(]}}"
print(string, "-", check(string))

# string = "((()"
# print(string,"-",check(string))

TypeError: 'type' object is not subscriptable

In [101]:
def checkBalance(expr):  
    stack = []  
    for char in expr:  
        if char in ["(", "{", "["]:  
            stack.append(char)  
        else:  
  
            if not stack:  
                return False  
            curr_char = stack.pop()  
            if curr_char == '(':  
                if char != ")":  
                    return False  
            if curr_char == '{':  
                if char != "}":  
                    return False  
            if curr_char == '[':  
                if char != "]":  
                    return False  
  
    # Here we check empty stack  
    if stack:  
        return False  
    return True  
  
  
expr = "(-(2+3)/){[*(5-6)]}"  
  
if checkBalance(expr):  
    print("The given string is balanced")  
else:  
    print("The given string is not balanced")

The given string is not balanced

In [110]:
str = "{1-(2+4)/}[4*{5-6}]"
l1 = ['(','{','[']
l2 = [')','}',']']
l3=[]
for i in str:
    if i in l1:
        l3.append(i)
    elif i in l2:
        p = l2.index(i)
        if len(l3)>0 and l1[p] == l3[-1]:
            l3.pop()
        else:
            l3.append(i)
if len(l3) == 0:
    print("valid")
else:
    print("invalid")

valid

In [150]:
n = 6
j = 1
li = ["A", "E", "I", "O", "U"]
m = len(li)
count = 0

for col in range(n):
    for space in range(n - col - 1):
        print(' ', end='')
    if col % 2 == 0:
        for row in range(1 * col + 1):
            print(j, end=" ")
            j = j + 2
    else:
        for i in range(len(li) - count):
            for k in range(1 * col + 1):
                print(li[count], end=' ')
                count = count + 1
                if count == 5:
                    count = 0
            break
    print()

     1
    A E
   3 5 7
  I O U A
 9 11 13 15 17
E I O U A E

In [117]:
# Python3 program to print above pattern
def display(n):
	for i in range(1, n + 1):
		k = i
		for j in range(1, i + 1):
			if k % 2 == 0:
				
				# Displaying the numbers
				print(j, end = '')
			else:
				
				# Displaying the stars
				print('', end = '')
			k -= 1
		print()

# Driver Code

# Get n
n = 5

# Print the pattern
display(n)

# This code is contributed by SamyuktaSHegde

1
2
13
24

In [149]:
n = 6
j = 1
li = 0
# m = len(li)
# count = 0

for col in range(n):
    for space in range(n - col - 1):
        print(' ', end='')
    if col % 2 == 0:
        for row in range(1 * col + 1):
            print(j, end=" ")
            j = j + 2
    else:
        for i in range(n):
            for k in range(1 * col + 1):
                li+=2
                print(li,end=' ')
            break
    print()

     1
    2 4
   3 5 7
  6 8 10 12
 9 11 13 15 17
14 16 18 20 22 24

In [155]:
import pandas as pd

In [170]:
dmart = {
    'product1': 
        {'Name': 'abc', 
          'Age': '21', 
          'gender': 'Male'},
    'product2': 
            {'Name': 'xyz', 
            'Age': '22', 
            'gender': 'Female'}
        }

In [169]:
pd.DataFrame.from_dict(dmart)

       product1 product2
Name        abc    Marie
Age          21       22
gender     Male   Female

In [172]:
dmart.keys()

dict_keys(['product1', 'product2'])

In [180]:
dmart["product2"]["Age"]

'22'

In [185]:
for i in dmart:
    print(i)

product1
product2

In [207]:
for i in dmart:
    print(dmart[i])

{'Name': 'abc', 'Age': '21', 'gender': 'Male'}
{'Name': 'Marxie', 'Age': '22', 'gender': 'Female'}

In [205]:
spam = {'color': 'red', 'age': '42','planet of origin': 'mars'}

for k,v in spam.items():
    print(k,v)
#      print(str(k)+': '  + str(v))

color red
age 42
planet of origin mars

In [220]:
test_list = [{'key' : 1, 'key' : 2, 'key' : 3}, 
             {'key' : 2}, {'key' : 3, 'key' : 4}]
  
# print( (test_list))
res = [ sub['key'] for sub in test_list ]
print(res)
# print("The values corresponding to key : " + str(res))

[3, 2, 4]

In [57]:
# def get_key(val):
#     i = d_mart.values()
#     for j in i:
#         k = j.values()
#         for l in k:
# #             print(l)
#             for key, value in l.items():
#                  if val == value:
#                      return key


# i = d_mart.values()
# for j in i:
#     k = j.values()
#     for l in k:
# #         print(l)
#         d = l.values()
# #         print(d)
#         for m in d:
#           for k , v in m.items():
#               if k =='price' :
#                   if v > 200:
#                       price.__setitem__(k,v)
#                       get_key(price)
#                       print(price)

In [58]:
price ={}
d_mart = {
    "Inventory": {
        "Clothes": {
            "shirt": {
                "Quantity": 50,
                "price": 200
            },
            "Jeans": {
                "Quantity": 30,
                "price": 250
            }

        },
        "Groceries": {
            "oil": {
                "Quantity": 45,
                "price": 2000,
            },
            "rice": {
                "Quantity": 205,
                "price": 100,
            },
            "wheat": {
                "Quantity": 69,
                "price": 1000,
            }
        },

    }
}

In [91]:
for j in i:
    k = j.values()
    for l in k:
        for k1 , v2 in l.items():
             for k,v in v2.items():
                if k=='price' and  v > 200:
                    if v <= 250:
                        dis_am = (10*v)/100;
                        dis = v - dis_am
                        print(k1, ':', k, dis, '10% discount')
                    elif v >= 2000:
                        print(k1, ':', k, v, 'By one get one free')
                    elif v == 1000:
                        print(k1, ':', k, v, '200gm free')
                    else:
                        print(k1, ':', k, v, 'not in discount')

Jeans : price 225.0 10% discount
oil : price 2000 By one get one free
wheat : price 1000 200gm free

In [71]:
print(k,v)

price 1000

1000

In [119]:
l.values()

dict_values([{'Quantity': 45, 'price': 2000}, {'Quantity': 205, 'price': 100}, {'Quantity': 69, 'price': 1000}])

In [193]:
def demo(a):
    x = lambda a:a+a
    return a+a
print(x(10))

20

In [5]:
class cl:
    def a(self,a):
        print(a)
ob = cl()
ob.a("demo")

demo

In [13]:
x = lambda y:x*x
print(y(2))

4